[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
psycopg2-binary = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-types = "*"
django-cors-headers = "*"
pillow = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
django = "==6.0.7"
asgiref = "==3.11.1"
sqlparse = "==0.5.5"
tzdata = "==2026.3"
pandas = "*"
numpy = "*"
scikit-learn = "*"
statsmodels = "*"
openpyxl = "*"

[dev-packages]
mypy = "*"
django-stubs = "*"

[requires]
python_version = "3.13"
