[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
psycopg2-binary = "*"
django = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
mypy = "*"
django-stubs = "*"

[requires]
python_version = "3.13"
